@import "../../scss/variables";

.header {
  text-align: center;
  padding: 0.5rem;
  margin-top: 3rem;

  h1 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
    color: $cardNavBgColor;
  }

  //! buttons

  .btns {
    margin-top: 1rem;

    button {
      padding: 1rem;
      border-radius: $borderRadius;
      border: none;
      cursor: pointer;
      transition: all 1s;
      &.active {
        background-color: $btnHoverColor;
      }
      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}
